@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    vertical-align: top;
    font-family: Poppins;
}
.first-sec{
    background: radial-gradient(rgb(139, 195, 245), #1294b8);
    width: 100%;
    min-height: 100vh;
}
.first-sec nav{
    margin: 0 auto;
}
#logo-kucra{
color: white;
}
#subscribe{
    padding: 2px;
    background-color: white;
    border-radius: 40px;
}
#subscribe input{
    border: none;
    color: darkgray;
}
#subscribe button{
    font-size: smaller;
    padding: 5px 10px;
    border-radius: 40px;
    color: white;
    background-color: #1294b8;
}
.middle-sec{
    width: 550px;
    margin: 20px auto;
    text-align: center;
}
.middle-sec p{
    color: rgb(164, 164, 164);
}
.second-sec{
    display: flex;
    justify-content: center;
}
.second-sec article{
    box-sizing: border-box;
    padding: 100px 15px;
    font-size: small;
    font-weight: 300;
    text-align: center;
    border-radius: 10px;
    height: 300px;
    width: 300px;
    color: white;
    background: radial-gradient(rgb(139, 195, 245), #1294b8);
    margin: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.second-sec article h1{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: x-large;
}
main{
    padding: 5% 10%;
    display: flex;
}
main h1{
    font-weight: 800;
    font-size: xxx-large;
}
main img{
    width: 600px;
}
main article{
    margin-right: 100px;
    width: 500px;
}
nav{
    margin: auto auto;
}
nav a{
    color: white;
    text-decoration: none;
}