@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    vertical-align: top;
    font-family: Poppins;
}
#first-sec{
    background: radial-gradient(rgb(139, 195, 245), #1294b8);
    width: 100%;
    min-height: 100vh;
}
#top{
    color: white;
    display: flex;
    padding: 20px 50px;
}
nav a{
    color: white;
    text-decoration: none;
    transition: 0.2s;
}
#top nav{
    margin: 0 auto;
    margin: auto auto;
}
#top nav ul{
    list-style: none;
    margin: 0;
    padding: 10px;
}
#top nav li{
    display: inline;
    margin: 0 10px;
    font-weight: 500;
}
#top i{
    color: white;
    font-size: larger;
    padding: 10px;
    transition: 0.2s;
}
#top a:hover, #top i:hover{
    color: darkgray;
}
#bottom{
    padding: 100px 200px;
    display: flex;
}
#bottom h1{
    line-height: 60px;
    font-weight: 800;
    font-size: xxx-large;
}
#bottom p{
    margin: 20px 0;
}
#bottom img{
    width: 600px;
}
#bottom section{
    margin-right: 100px;
    width: 500px;
}
#subscribe{
    display: flex;
    padding: 3px;
    background-color: white;
    border-radius: 40px;
    overflow: hidden;
}
#subscribe input{
    margin: 0 auto 0 10px;
    outline: none;
    border: none;
}
#subscribe button{
    margin: 0 0 0 auto;
    font-weight: 500;
    font-size: smaller;
    padding: 5px 10px;
    border-radius: 40px;
    color: white;
    background-color: #1294b8;
    transition: 0.5s;
}
#subscribe button:hover{
    background-color: white;
    color: #1294b8;
}
#middle-sec{
    width: 550px;
    margin: 20px auto;
    text-align: center;
}
#middle-sec p{
    color: rgb(164, 164, 164);
}
#second-sec {
    display: flex;
    justify-content: center;
    margin: 70px;
}
#second-sec div i{
    padding: 10px;
    font-size: xx-large;
}
#second-sec div p{
    padding: 10px;
}
#second-sec div h1{
    font-weight: 500;
    font-size: x-large;
}
#second-sec div{
    box-sizing: border-box;
    padding: 50px 15px;
    font-size: small;
    font-weight: 300;
    text-align: center;
    border-radius: 10px;
    height: 300px;
    width: 300px;
    color: white;
    background: radial-gradient(rgb(139, 195, 245), #1294b8);
    margin: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transition: 0.5s;
}
#second-sec div:hover{
    translate: 0 -30px;
}
#team{
    width: 700px;
    margin: 100px auto;
    text-align: center;
}
#heads{
    text-align: center;
    font-weight: 500;
    display: flex;
    margin: 0 auto;
    margin-bottom: 100px;
    width: 1200px;
}
#heads div{
    margin: 10px auto;
}
#heads h1{
    font-weight: 600;
}
#heads h2{
    font-weight: 600;
    font-size: 2ch;
}
#heads p{
    color: darkgrey;
    font-size: smaller;
}
#heads figure{
    width: 200px;
    margin: 10px;
    border-radius: 360px;
    overflow: hidden;
    position: relative;
}
#heads figure img{
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    transition: 0.2s;
}
#heads figure:hover img{
    filter: grayscale(0);
    transform: scale(1.1);
}
#heads figure:hover .social{
    position: absolute;
    top: 40px;
    left: 20px;
}
.social{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -30px;
    left: -30px;
    z-index: 1;
    transition: 0.2s;
}
.social-button{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 360px;
    margin: 3px;
}
#fourth-sec{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
    background: rgba(0, 0, 0, 0.5) url(../img/parallax.png);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background-blend-mode: darken;
}
#fourth-sec p{
    text-align: center;
    width: 60%;
}
#fourth-sec h1{
    margin: 10px;
}
#fourth-sec button{
    width: 140px;
    margin: 20px;
    padding: 5px 10px;
    border: 2px solid white;
    border-radius: 5px;
    background: none;
    color: white;
    font-weight: 500;
    font-size: large;
    transition: 0.2s;
}
#fourth-sec button:hover{
    background-color: white;
    color: black;
}
#fifth-sec{
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    align-items: center;
    justify-content: center;
}